db/exercise1_dtd/countries.dtd

<!ELEMENT countries (country*)>
<!ELEMENT country (city*, language*)>
<!ELEMENT city (name,population)>
<!ATTLIST country name CDATA #REQUIRED
population CDATA #REQUIRED
area CDATA #REQUIRED>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>